*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*space means nested*/
.box .inner-wrapper {
	border: 1px solid black;
	background-color: #f3f3f3;
	width: 100%;
	height: 100%;
}

header, footer {
	height: 100px;
}

header {
	padding-bottom: 20px;
}

section {
	height: 400px;
    float: left;
    width: 70%;
    padding-right: 20px;
}

aside {
	height: 400px;
	width: 30%;
	float: right;
}

footer {
	clear: both;
}

.main {
	margin-bottom: 20px;
	overflow: hidden;
	padding-bottom: 20px;
}